body{
    height: 100vh;
}

header{
    grid-area: h;
    background-color: blue;
}

main{
    grid-area: m;
    background-color: brown;
}

aside{
    grid-area: a;
    background-color: rgb(9, 9, 9);
    font-size: 80px;
    color: aliceblue;
}
footer{
    grid-area: f;
    background-color: chartreuse;
}
nav{

    grid-area: n;
    background-color: rgb(250, 252, 249);
    font-size: 60px;
    
}



.responsive{
    width: 100%;
    height: auto;
}

  

#container{
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 90% 20%;

    grid-template-areas: 
    
    "h h"
    "n n"
    "m a"
    "f f";
}

@media screen and (max-width:800px){

    #container{
     
     grid-template-rows: 100% 100% 100% 100%;
        grid-template-areas: 
    
    "h h"
    "m m"
    "a a"
    "f f";   
    }

}
    
   